<header class="header">
  <div class="modal"></div>
  <div class="container-header">
    <img ngSrc="assets/rochas-lanches.png" priority="true" width="128" height="128" alt="Ilustração colorida de uma pessoa segurando um grande hambúrguer apetitoso em uma mão e fazendo um sinal de positivo com a outra. O rosto da pessoa é obscurecido por um retângulo desfocado, garantindo o anonimato. A pessoa está vestindo uma camiseta azul simples e tem cabelo castanho estilizado de forma moderna e casual. O hambúrguer parece grande e bem preparado, consistindo em várias camadas, incluindo alface, queijo, tomates, hambúrguer de carne e coberto com sementes de gergelim no pão. O fundo é de cor azul claro com estrelas brancas espalhadas, criando uma atmosfera de positividade e aprovação."/>

    <h1>Rocha's Lanches</h1>

    <p>Rua Rocha 10, Jacareí - SP</p>

    <div [ngStyle]="{'background-color': isRestaurantOpen ? '#16A34A' : '#ff3131'}">
      <p>Seg á Dom - 18:00 as 22:00</p>
    </div>
  </div>
</header>
