<header class="header">
  <div>
    <img ngSrc="assets/hamb-1.png" priority="true" width="128" height="128" alt="Aqui está uma descrição alternativa para a imagem que você enviou: “Um hambúrguer suculento e apetitoso com queijo derretido, bacon crocante, alface fresca e um tipo de molho, colocado em um pão de hambúrguer macio e dourado. O hambúrguer está sobre uma tábua de madeira escura. O fundo é desfocado, parecendo ser o interior de uma cozinha ou restaurante, iluminado suavemente.” Esta descrição pode ser usada para melhorar a acessibilidade do site para usuários com deficiência visual."/>

    <h1>Dev Burguer</h1>

    <p>Rua dev 10, Jacareí - SP</p>

    <div id="date-span" [ngStyle]="{'background-color': isRestaurantOpen ? '#16A34A' : '#ff3131'}">
      <p>Seg á Dom - 18:00 as 22:00</p>
    </div>
  </div>
</header>
