<app-header />

<main id="menu">
  <h2 class="menu">Conheça nosso menu</h2>

  <section>
    <app-container-items
      name="Hamburguer Smash"
      altImg="Um hambúrguer suculento com queijo derretido, bacon crocante, alface fresca e maionese, servido em um pão de hambúrguer macio."
      ngSrc="./assets/hamb-1.png"
      description="Pão de trigo, burguer 160g, queijo prato e maionese da casa."
      [price]="18.90"
    />
    <app-container-items
      name="Hamburguer Duplo"
      altImg="Um hambúrguer suculento com bacon, queijo derretido e tomate, servido ao lado de batatas fritas em uma tábua de madeira."
      ngSrc="./assets/hamb-2.png"
      description="Pão de trigo, hambúrguer de 160g, queijo, tiras de bacon crocantes e fatias de tomate."
      [price]="32.90"
    />
    <app-container-items
      name="Hamburguer Mini"
      altImg="Um hambúrguer suculento com bacon, queijo derretido e tomate, servido ao lado de batatas fritas em uma tábua de madeira."
      ngSrc="./assets/hamb-3.png"
      description="Pão de trigo, hambúrguer de 160g, queijo, tiras de bacon crocantes e fatias de tomate."
      [price]="35.90"
    />
    <app-container-items
      name="Hamburguer Salad"
      altImg="Um hambúrguer com um bolinho de peixe, alface, tomate, cebola e picles em um pão com gergelim, servido em uma tábua de madeira com uma tigela pequena de maionese ao lado."
      ngSrc="./assets/hamb-4.png"
      description="O pão com gergelim, um hambúrguer de 160g, alface, cebola roxa, tomate e picles."
      [price]="25.90"
    />
    <app-container-items
      name="Hamburguer Sabor Supremo"
      altImg="Uma imagem de um hambúrguer com um bolinho de peixe, alface, tomate, cebola e picles em um pão com gergelim, servido em uma tábua de madeira com uma tigela pequena de maionese ao lado."
      ngSrc="./assets/hamb-5.png"
      description="Empilhado com uma carne grelhada suculenta, queijo derretido cremoso, tomate fresco e crocante alface."
      [price]="20.50"
    />
    <app-container-items
      name="Hamburguer Supremo"
      altImg="Uma imagem de um hambúrguer com um bolinho de peixe, alface, tomate, cebola e picles em um pão com gergelim, servido em uma tábua de madeira com uma tigela pequena de maionese ao lado."
      ngSrc="./assets/hamb-6.png"
      description="Um hambúrguer de 160g, com queijo e cebolas roxas, alface e tomate, tudo no pão de gergelim"
      [price]="29.90"
    />
    <app-container-items
      name="Hamburguer Rings"
      altImg="A imagem mostra um hambúrguer apetitoso em um pão com gergelim. O hambúrguer é recheado com uma generosa porção de carne grelhada, queijo derretido, alface fresca, fatias de tomate e cebola roxa. Ao lado do hambúrguer há uma porção de batatas fritas douradas e crocantes. O conjunto está apresentado em uma tábua de madeira rústica. Há um espeto decorativo inserido no centro do hambúrguer."
      ngSrc="./assets/hamb-7.png"
      description="Um hambúrguer de 160g, coberto com queijo e cebolas roxas, alface e tomate, tudo no pão de gergelim."
      [price]="38.90"
    />
    <app-container-items
      name="Hamburguer Full Salad"
      altImg="Pão liso, hamburguer vegano de 160g de cor verde, alface, cenoura e tomate ralados."
      ngSrc="./assets/hamb-8.png"
      description="Pão liso, hamburguer vegano de 160g de cor verde, alface, cenoura e tomate ralados."
      [price]="27.90"
    />
  </section>

  <div class="div-bebidas mx-auto max-w-7xl px-2 my-2">
    <h2 class="font-bold text-3xl">Bedidas</h2>
  </div>

  <section>
    <app-container-items
      ngSrc="./assets/refri-1.png"
      altImg="Lata de Coca-Cola vermelha com o logo branco, indicando ‘Sabor Original’, 350 ml."
      name="Coca-Cola Lata"
      description="Coca-Cola, sabor original, lata de 350 ml."
      [price]="6.00"
    />
    <app-container-items
      ngSrc="./assets/refri-2.png"
      altImg="Lata de refrigerante Guarana Antarctica verde, indicando ‘Original do Brasil’, 350 ml."
      name="Guaraná Lata"
      description="Guaraná Antarctica, sabor original, lata de 350 ml."
      [price]="6.00"
    />
    <app-container-items
      ngSrc="./assets/coca-2l.png"
      altImg="Uma garrafa pet de 2 litros de refrigerante coca-cola, com um adesivo vermelho com a logo da coca-cola em branco."
      name="Coca-cola 2L"
      description="Coca-Cola, sabor original, garrafa pet de 2L."
      [price]="10.00"
    />
    <app-container-items
      ngSrc="./assets/guarana-2l.png"
      altImg="Uma garrafa pet de 2 litros de refrigerante guaraná antartica, com um adesivo verde com a logo da guaranaá antartica em vermelho"
      name="Guaraná Antartica 2L"
      description="Guaraná Antartica, sabor original, garrafa pet de 2L."
      [price]="10.00"
    />
    <app-container-items
      ngSrc="./assets/skol.png"
      altImg="Lata de cerveja Skol Pilsen amarela com logotipo ‘SKOL PILSEN’ em vermelho e indicando 473ml."
      name="Cerveja Skol Lata"
      description="Cerveja Skol, sabor original, lata de 473 ml."
      [price]="8.00"
    />
    <app-container-items
      ngSrc="./assets/heineken.png"
      altImg="Lata de cerveja Heineken verde com logotipo e texto branco, incluindo ‘HEINEKEN ORIGINAL’ e ‘PURE MALT LAGER’."
      name="Cerveja Heineken Lata"
      description="Cerveja Heineken, sabor original, lata de 269 ml."
      [price]="8.00"
    />
  </section>
</main>

<div
  class="div-modal"
  id="cart-modal"
  [style.display]="showModal ? 'flex' : 'none'"
>
  <div class="container-modal">
    <h2>Meu Carrinho</h2>

    <div id="cart-items" class="container-items"></div>

    <p class="cart-total">
      Total: <strong class="cart-total-strong" id="cart-total">0.00</strong>
    </p>

    <p class="address">Endereço de entregua:</p>
    <input
      type="text"
      placeholder="Digite seu endereço de entrega"
      id="address"
    />

    <p class="address-warn text-red-500 hidden" id="address-warn">
      Digite seu endereço completo!
    </p>

    <div class="container-btns">
      <button class="close-modal" id="close-modal-btn" (click)="openModal()">
        Fechar
      </button>
      <button class="checkout-btn" id="checkout-btn" (click)="openModal()">
        Finalizar pedido
      </button>
    </div>
  </div>
</div>

<app-footer (openModalEvent)="openModal()" />
