<section>
  <app-container-burguer nameBurguer="Hamburguer Smash" altImg="" ngSrc="./assets/hamb-1.png" description="Pão de trigo, burguer 160g, queijo prato e maionese da casa." price="18,90" />
  <app-container-burguer nameBurguer="Hamburguer Smash" altImg="" ngSrc="./assets/hamb-1.png" description="Pão de trigo, burguer 160g, queijo prato e maionese da casa." price="18,90" />
  <app-container-burguer nameBurguer="Hamburguer Smash" altImg="" ngSrc="./assets/hamb-1.png" description="Pão de trigo, burguer 160g, queijo prato e maionese da casa." price="18,90" />
</section>
