<div class="container-burguer flex gap-2">

  <img ngSrc={{ngSrc}} priority="true" width="112" height="112" alt={{altImg}}>

  <div class="container-info">
    <p class="title">{{nameBurguer}}</p>
    <p class="description">{{description}}</p>

    <div class="container-btn-buy add-to-cart-btn">
      <p class="price">R$ {{price}}</p>
      <button class="bg-gray-900 px-5 rounded add-to-cart-btn">
        <i class="fa fa-cart-plus text-lg text-white"></i>
      </button>
    </div>
  </div>
</div>
