$color-white: #ffffff;
$color-medium-dark-white: #f6f7f8;
$color-black: #000000;
$color-red: #EF4444;
$color-dark-red: #942a2a;
$color-green: #22C55E;
$color-dark-blue: #3B7A95;
$color-blue: #1a87b6;
