section {
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
  padding: 0 0.8rem;
  margin: 0 auto 6.4rem auto;
  max-width: 1280px;
}

@media (min-width: 768px) {
  section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4rem;
  }
}

@media (min-width: 1024px) {
  section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
