<section>
  <app-container-drink
    ngSrc="./assets/refri-1.png"
    altImg="Lata de Coca-Cola vermelha com o logo branco, indicando ‘Sabor Original’, 350 ml."
    nameDrink="Coca-Cola Lata"
    description="Coca-Cola, sabor original, lata de 350 ml."
    price="6,00"
  />
  <app-container-drink
    ngSrc="./assets/refri-2.png"
    altImg="Lata de refrigerante Guarana Antarctica verde, indicando ‘Original do Brasil’, 350 ml."
    nameDrink="Guaraná Lata"
    description="Guaraná Antarctica, sabor original, lata de 350 ml."
    price="6,00"
  />
  <app-container-drink
    ngSrc="./assets/coca-2l.png"
    altImg="Uma garrafa pet de 2 litros de refrigerante coca-cola, com um adesivo vermelho com a logo da coca-cola em branco."
    nameDrink="Coca-cola 2L"
    description="Coca-Cola, sabor original, garrafa pet de 2L."
    price="10,00"
  />
  <app-container-drink
    ngSrc="./assets/guarana-2l.png"
    altImg="Uma garrafa pet de 2 litros de refrigerante guaraná antartica, com um adesivo verde com a logo da guaranaá antartica em vermelho"
    nameDrink="Guaraná Antartica 2L"
    description="Guaraná Antartica, sabor original, garrafa pet de 2L."
    price="10,00"
  />
  <app-container-drink
    ngSrc="./assets/skol.png"
    altImg="Lata de cerveja Skol Pilsen amarela com logotipo ‘SKOL PILSEN’ em vermelho e indicando 473ml."
    nameDrink="Cerveja Skol Lata"
    description="Cerveja Skol, sabor original, lata de 473 ml."
    price="8,00"
  />
  <app-container-drink
    ngSrc="./assets/heineken.png"
    altImg="Lata de cerveja Heineken verde com logotipo e texto branco, incluindo ‘HEINEKEN ORIGINAL’ e ‘PURE MALT LAGER’."
    nameDrink="Cerveja Heineken Lata"
    description="Cerveja Heineken, sabor original, lata de 269 ml."
    price="8,00"
  />
</section>
