<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 md:gap-10 mx-auto max-w-7xl px-2 mb-16">
  <div class="flex gap-2">
    <img
      class="w-28 h-28 rounded-md hover:scale-110 hover:-rotate-2 duration-300"
      src="src/assets/hamb-1.png"
      alt="Hamburguer Smash"
    />

    <div>
      <p class="font-bold">Hamburguer Smash</p>
      <p class="text-sm">
        Pão de trigo, burguer 160g, queijo prato e maionese da casa.
      </p>

      <div class="flex items-center justify-between gap-2 mt-3">
        <p class="font-bold text-lg">R$ 18,90</p>
        <button
          class="bg-gray-900 px-5 rounded add-to-cart-btn"
          data-name="Hamburguer Smash"
          data-price="18.90"
        >
          <i class="fa fa-cart-plus text-lg text-white"></i>
        </button>
      </div>
    </div>
  </div>
</section>
